{
	"presets": ["@babel/env"], // "@babel/preset-env"
	"plugins": [
		"@babel/plugin-transform-runtime", 
		"@babel/plugin-proposal-export-default-from"
	] // same as "@babel/plugin-transform-arrow-functions"
}
